<%- include("layout/header") %>

<!--
    filter options at top, sort by name, village, rank (default alphabetical order)
    
    list of every card with a link -> on click brings to a page with detail of card info 
    (will need another template file for this)
-->

<p>test text</p>

<ul id="ninja_list">
    <% for(var i=0; i < shinobi.length; i++){ %>
        <li class="ninja">
            <%= shinobi[i] %> <br>
        </li>
    <% }; %>
</ul>

</body>
</html>