<%- include("layout/header") %>

<ul id="ninja_list">
    <div class="ninja">
        <% for(var i=0; i < shinobi.length; i++){ %>
            <li class="ninja_info">
                <%= shinobi[i] %>
            </li>
        <% }; %>
    </div>
</ul>

</body>
</html>