<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ninja Info Cards</title>
</head>
<body>
    <header>
        <h1>My Ninja Info Cards</h1>
        <p>What the heck are those?</p>
        <nav>
            <ul>
                <li><a href="/deck" class="navLink">The Deck</a></li>
                <li><a href="/add-card">Add A Card</a></li>
            </ul>
        </nav>
        <form action="/" method="post" id="searchCard">
            <input type="search" name="userQuery" placeholder="find a Ninja">
            <button type="submit" id="search">Search</button>
        </form>
    </header>